/*CSS document*/

body {
    background-color: #e5e5e6;
    margin: 0em;
}

div.container {
    max-width: 100em;
    margin: auto;
}

header {
    background-color: #150404;
    padding: .01em 1em;
    margin-bottom: 2em;
}

h1 {
    max-width: 10em;
}

h2 {
    color: #B70320;
    text-transform: uppercase;
    font-family: degular, sans-serif;
}

h3 {
    font-family: degular, sans-serif;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

p {
    font-family: ibm-plex-sans, sans-serif;
    font-size: .9em;
    line-height: 150%;
}

main {
    padding: 0em 2em;
    max-width: 70em;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    color: #e5e5e6;
}

nav ul li a:hover {
    color: #B70320;
}

nav ul li {
    display: inline;
    margin-right: 1em;
    font-family: degular, sans-serif;
    text-transform: uppercase;
    font-size: 1em;
}

a {
    text-decoration: none;
    color: #150404;
}

main section a:hover {
    color: #B70320;
}

section {
    padding: 0 0em 2em 0;
}

article {
    margin-bottom: 3em;
    padding: 0em 1em;
}

aside {
    margin: 0em 1em;
    border-top: 2px solid #150404;
    padding-top: 2em;
}

figcaption {
    font-family: ibm-plex-sans, sans-serif;
    font-style: italic;
    font-weight: 200;
    font-size: .9em;
}

footer {
    background-color: #150404;
    padding: .01em 1em;
}

footer p {
    color: #e5e5e6;
}

@media only screen and (min-width: 60em) {
    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2em;
        margin: auto;
    }

    section {
        padding: 0;
    }

    section.mainstory {
        grid-column: 1/3;
        grid-row: 1/5;
    }

    section.mainstory a {
        display: flex;
        flex-direction: column;
    }
    
    section.mainstory a figure div{
        flex: 1 0 18em;
        background-image: url(city_lights.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    section.mainstory a figure div img {
        height: 100%;
        opacity: 0;
    }
    
    section.mainstory a h3 {
        flex: 0 0 auto;
        padding-top: .3em;
    }
    
    section a p {
        flex: 0 0 auto;
        margin: 0;
    }
}